@import 'styles/variables';

.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  button {
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: $colorPurple;
    color: $colorWhite;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
    &:hover {
      background-color: $colorPurple;
    }
  }
  .selected {
    background-color: $colorRed;
    font-weight: bold;
    &:hover {
      cursor: auto;
      background-color: $colorBtnRedHover;
    }
  }
}