$colorRed: #fa2356;
$colorPurple: #583bb6;
$colorPersianBlue: #4716db;
$colorIndigo: #1c334d;
$colorWhite: #fff;
$colorBlack: #000;
$colorLightGrey: #f5f5f5;
$colorDarkGrey: #555;
$colorGrey: #c4c4c4;
$colorGreen: #3ac430;

$colorBtnRed: $colorRed;
$colorBtnRedHover: #bb1b40;
$colorBtnGrey: #ccc;
