@import 'styles/variables';

.table {
  padding-bottom: 10px;
  min-width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  table-layout: fixed;

  thead {
    th {
      height: 50px;
      text-align: left;
      cursor: pointer;
    }
    th:nth-child(1) {
      width: 10%;
      padding-left: 40px;
      border-top-left-radius: 10px;
    }
    th:nth-child(2) {
      width: 25%;
    }
    th:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4) {
      width: 15%;
    }
    th:nth-child(5) {
      width: 15%;
    }
    th:nth-child(6) {
      width: 10%;
      padding-right: 60px;
    }
    th:nth-child(7) {
      width: 15%;
      border-top-right-radius: 10px;
    }
    tr {
      background-color: $colorPurple;
      color: $colorWhite;
    }
  }
  tbody {
    tr {
      transition: 0.3s;
      background-color: $colorWhite;
      color: $colorDarkGrey;
      &:hover {
        background-color: $colorGrey;
        color: $colorBlack;
      }
      &:nth-child(even) {
        background-color: $colorLightGrey;  
        &:hover {
          background-color: $colorGrey;
          color: $colorBlack;
        }
      }
    }
    td {
      text-align: left;
      border: none;
      height: 50px;
      cursor: pointer;
      &:first-child {
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 60px;
      }
    }
  }
}
